@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #CFD2CF;
  font-family: sans-serif;
  padding: 3rem;
  line-height: 1.75; }

.header {
  height: 95vh;
  background-color: #EB1D36;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  position: relative;
  z-index: 1; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__logo img {
    height: 18rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-top: 4rem;
  margin-bottom: 8rem;
  letter-spacing: 1rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    animation: moveInLeft 1s none;
    background: url(/img/Colorful.gif);
    -webkit-background-clip: text;
    color: transparent; }
  .heading-primary--sub {
    display: block;
    font-size: 1.5rem;
    animation: moveInRight 1s none; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn--header {
  background-color: #fff;
  color: #777;
  font-weight: 1000;
  animation: moveUp 1s ease-out .75s backwards; }
  .btn--header:hover {
    transform: translateY(-0.6rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
    .btn--header:hover::after {
      transform: scale(1.5);
      opacity: 0; }
  .btn--header:active {
    transform: translateY(0);
    box-shadow: 0 1rem 0.5rem rgba(0, 0, 0, 0.5); }
  .btn--header::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .5s; }

.section-features {
  background-color: #F5EDDC;
  padding: 30rem 0;
  margin-top: -20vh;
  display: flex;
  justify-content: center; }

.feature-row {
  max-width: 114rem;
  display: flex;
  column-gap: 6rem;
  justify-content: space-between; }

.feature-column {
  flex: 1 1 0;
  background-color: #fff;
  color: #777;
  transition: all .3s; }
  .feature-column img {
    height: 5rem; }
  .feature-column:hover {
    transform: translateY(-1.5rem) scale(1.05);
    background-color: #fff; }

.feature-box {
  font-size: 1.5rem;
  text-align: center;
  border-radius: 5px;
  padding: 2.5rem;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.15); }
