@import "animations";
@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $color-gray;
    font-family: sans-serif;
    padding: 3rem;
    line-height: 1.75;
}

.header {
    height: 95vh;
    background-color: $color-red;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
    position: relative;
    z-index: 1;

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__logo {
        img {
            height: 18rem;
        }
    }
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-top: 4rem;
    margin-bottom: 8rem;
    letter-spacing: 1rem;

    &--main {
        display: block;
        font-size: 6rem;
        animation: moveInLeft 1s none;
        background: url(../img/Colorful.gif);
        -webkit-background-clip: text;
        color: transparent;
    }
    
    &--sub {
        display: block;
        font-size: 1.5rem;
        animation: moveInRight 1s none;
    }
}

.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem;
    }

    &--header {
        background-color: $color-white;
        color: $color-dark-gray;
        font-weight: 1000;
        animation: moveUp 1s ease-out .75s backwards;

        &:hover {
            transform: translateY(-0.6rem);
            box-shadow: 0 1rem 2rem rgba($color-black, .5);

            &::after {
                transform: scale(1.5);
                opacity: 0;
            }
        }

        &:active {
            transform: translateY(0);
            box-shadow: 0 1rem .5rem rgba($color-black, .5);
        }

        &::after {
            background-color: $color-white;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .5s; 
    }
}

.heading-text {
    color: $color-white;
    text-align: center;
    margin-bottom: 8rem;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
}

@media only screen and (max-width: 75em) {

    html {
        font-size: 56.25%;
    }
}

@media only screen and (max-width: 56.25em) {

    html {
        font-size: 50%;
    }

    body {
        padding: 0;
    }

    .section-features {
        padding: 30rem 0 20rem 0 !important;
    }

    .section-devices {
        padding: 10rem 0 10rem 0 !important;
    }

    .device-column {
        width: 35rem !important;
    }

    .row {
        flex-direction: column;
        row-gap: 2rem;

        .feature-column {
            width: 50% !important;
        }

        .device-column {
            height: 45rem !important;
            margin-bottom: 8rem;
        }
    }
}

@media only screen and (max-width: 30em) {

    html {
        font-size: 45%;
    }

}

.row {
    max-width: $grid-width;
    display: flex;
    column-gap: $gutter-horizontal;
    margin: 0 auto;
    align-items: center;
    

    .feature-column {
        width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
    }

    .device-column {
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    }
}

.section-features {
    padding: 30rem 0;
    margin-top: -25rem;
    background-color: $color-cream;
}

.feature-box {
    font-size: 1.6rem;
    padding: 2.5rem;
    background-color: $color-white;
    color: $color-dark-gray;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    transition: all .3s;

    &__icon {
        max-width: 6rem;
        margin-bottom: .5rem;
    }

    &:hover {
        transform: translateY(-1rem) scale(1.02);
    }

    &__text {
        margin-top: 1.5rem;
    }
}

.section-devices {
    padding: 10rem 0 70rem 0;
    background-color: $color-red;
    transform: skewY(-7deg);
    margin-top: -12rem;

    & > * {
        transform: skewY(7deg);
    }
}

.card {
    text-align: center;
    position: relative;
    &__side {
        transform: perspective(150rem);
        height: 52rem;
        position: absolute;
        width: 100%;
        transition: all .8s;
        backface-visibility: hidden;
        border-radius: 5px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
        overflow: hidden;

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(-180deg);
            background-color: $color-cream;
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }

    &__picture {
        background-size: cover;
        height: 23rem;

        &-1 {
            background-image: url(../img/Arduino-Uno-R3.jpg);
        }

        &-2 {
            background-image: url(../img/Raspberry-Pi4-Model-B.jpg);
        }

        &-3 {
            background-image: url(../img/Raspberry-Pi-Pico.jpg);
        }
    }

    &__heading {
        font-size: 2rem;
        font-weight: 300;
        margin-top: 2rem;
        color: $color-dark-gray;
    }

    &__detail {
        padding: 2rem;
        ul {
            width: 70%;
            list-style: none;
            margin: 0 auto;

            li {
                font-size: 1.5rem;
                padding: 1rem;
                text-align: center;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-gray;
                }
            }
        }
    }
    
}