$color-red: #EB1D36;
$color-gray: #CFD2CF;
$color-white: #fff;
$color-dark-gray: #777;
$color-dim-gray: #444;
$color-black: #000;
$color-cream: #F5EDDC;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 8rem;